* {margin: 0;
padding: 0;
box-sizing: borer-box;}

body {font-family: 'Kanit',sans-serif;}

#gradpic {height: 300px;}
 #mainprofile {background-image: url(https://wallpaper8k.com/inside/categories/40/78673_1280x720-84260.jpg);}

#objectives, #headerinterests, #headerhobbies, #headerqualities {font-size: 15px;}

#school {background-image: ;}

.list {list-style: none;}

.school {width: 18rem;}

#accordionExample {position: fixed; text-align: inline-block;}

.projects1 {width: 350px; height:300px}



#location {width: 600px;
height: 500px; border: 0;
}

#gintoki {width:60px; height: 60px;}

.contactme {width: 75px;}

h2 {color: white;}
h1{color: black;}

a:hover {background-color: green;}



